<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">

</head>
<body>


<div class="container">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">

        <h2 th:text="#{label.user.new.panel}" class="form-signin-heading text-center">user panel</h2>
        <br/>

        <form name='f' action='/saveUser' method='POST' class="form-signin">
            <div class="form-group">
                <label th:text="#{label.newUser.header}">Podaj adres email:</label>
                <input th:placeholder="#{label.newUser.title.placeholder}" name="email" class="form-control"
                       required="true" autofocus="true"/>
                <br/>
                <br/>
                <button th:text="#{label.newUser.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Send
                </button>
            </div>
        </form>

    </div>

    <div class="col-sm-2"></div>
</div>


</body>
</html>