<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">

</head>
<body>


<div class="container">

    <div class="col-sm-2"></div>
`
    <div class="col-sm-8">
        <h2 th:text="#{label.ending.page.title}" class="form-signin-heading text-center">Thanks!</h2>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" onclick="window.open('', '_self', ''); window.close();">Close</button>
    </div>
    <div class="col-sm-2"></div>
</div>

<input type="button" class="btn btn-success"
       style="font-weight: bold;display: inline;"
       value="Close"
       onclick="closeMe()">
function closeMe()
{
window.opener = self;
window.close();
}


</body>
</html>