<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">

</head>
<body>


<div class="container">

    <div class="col-sm-2"></div>
`
    <div class="col-sm-8">
        <h2 th:text="#{label.ending.page.title}" class="form-signin-heading text-center">BAD REQUEST!</h2>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" onclick="window.close();">Close</button>
    </div>
    <div class="col-sm-2"></div>
</div>

</body>
</html>